<% layout('layout') -%>
    <div id="content" class="container">
        <div class="cart">
            <h3>Giỏ Hàng Của Bạn</h3>
            <div id="showgiohang" class="table-responsive">
                <% if(giohang.length>0) {%>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã Sản Phẩm</th>
                                <th>Tên Sản Phẩm</th>
                                <th>Đơn Giá</th>
                                <th>Số Lượng</th>
                                <th>Thành Tiền</th>
                                <th>Tác Vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var tongtien=0; %>
                                <% for (var i=0;i<giohang.length;i++){%>
                                    <% var tongtien=tongtien+giohang[i].thanhtien; %>
                                        <tr>
                                            <td>
                                                <%= i+1%>
                                            </td>
                                            <td>
                                                <%=  giohang[i].masanpham %>
                                            </td>
                                            <td>
                                                <%=  giohang[i].tensanpham %>
                                            </td>
                                            <td>
                                                <%=parseFloat(giohang[i].giasanpham).toFixed().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")%> VNĐ

                                            </td>
                                            <td><input type="number" id="quantity<%=  giohang[i].masanpham %>" name="quantity<%=  giohang[i].masanpham %>" value="<%=  giohang[i].soluongsanpham %>"></td>
                                            <td id="thanhtien<%=  giohang[i].masanpham %>">
                                                <%=parseFloat(giohang[i].thanhtien).toFixed().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")%> VNĐ</td>
                                            <td><button class="btn btn-inverse" onclick="updateRow(this,'<%=  giohang[i].masanpham %>')">Cập Nhật</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger" onclick="deleteRow(this,'<%=  giohang[i].masanpham %>')">Xóa</button></td>
                                        </tr>
                                        <% } %>
                                            <tr class="danger">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="danger">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Tổng Tiền:
                                                    <%=parseFloat(tongtien).toFixed().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")%> VNĐ </td>
                                                <td><a type="button" href="/dathang/checkout" class="btn btn-inverse">Đặt Hàng</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a type="button" href="/giohang/huy" class="btn btn-danger">Hủy</a></td>
                                                <td></td>
                                            </tr>
                        </tbody>
                    </table>
                    <%} %>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        function deleteRow(obj, id) {
            var r = confirm("Bạn có muốn xóa khỏi giỏ hàng");
            if (r == true) {
                $.ajax({
                    url: "/giohang/remove/" + id,
                    type: "post",
                    data: {
                        'id': id
                    },
                    success: function(data) {
                        $(obj).closest('tr').fadeOut(300, function() {
                            $(obj).closest('tr').remove();
                            var soluong = document.getElementById("giohang").innerText;
                            // document.getElementById("giohang").innerHTML = soluong - 1;
                            $('#showgiohang').load(document.URL + ' #showgiohang');
                            $('#giohang').load(document.URL + ' #giohang');
                        });
                    }
                });
            }
        }
    </script>
    <script>
        function updateRow(obj, id) {
            var soluong = document.getElementById("quantity" + id).value;
            $.ajax({
                url: "/giohang/update/" + id + "/" + soluong,
                type: "post",
                data: {
                    'id': id
                },
                success: function(data) {
                    $('#showgiohang').load(document.URL + ' #showgiohang');
                }
            });
        }
    </script>