<% layout('layout') -%>
<div id="content" class="container-fluid">
   <div class="col-md-6">
      <h3><%=shop[0].TenShop%></h3>
      <p><%=shop[0].ThongTin%></p>
      <p>Email: <%=shop[0].Email%></p>
      <p>SDT: <%=shop[0].SDT%></p>
      <p>Địa Chỉ: <%=shop[0].DiaChi%></p>
   </div>
   <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31334.29875808069!2d106.6832909!3d10.9794178!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe2bf4f397d0aa76!2zVHLGsOG7nW5nIMSR4bqhaSBo4buNYyBUaOG7pyBE4bqndSBN4buZdA!5e0!3m2!1svi!2s!4v1484656399678" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
</div>