<!-- views/partials/footer.ejs -->
<div id="footer">
   <h3><%=shop[0].TenShop%></h3>
   <p><%=shop[0].ThongTin%></p>
   <p>Email: <%=shop[0].Email%></p>
   <p>SDT: <%=shop[0].SDT%></p>
   <p>Địa Chỉ: <%=shop[0].DiaChi%></p>
</div>